#Conteudo-principal {
    display: block;
    padding: 10px;
   
    width: 80vw;
}
.nomeUsuario {
   font-size: 14pt;
}
.nomeUsuario i{

}
#Conteudo-principal h1{
    text-align: center;
    font-size: 26pt;
    font-weight: 300;
}
#pesquisas {
    overflow-y: scroll;
    min-height: 50vh;
    max-height: 50vh;
}
#btnModal {
    margin-top: 2%;
   margin-left: 80%;
}
#fade{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5;
    opacity: 0.6;
}
#modal {
    display: none;
    z-index: 10;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
}
#modal-content{
}
#modal-buttons {
    margin-left: 35%;
}
#modal-content input{

}
#modal-content h1{
    text-align: center;
    font-size: 26pt;
    font-weight: 300;
}
#form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}