#main-content h3 {
    display: inline;
    font-size: 12pt;
    margin-left: 17%;
}
#main-content {
   
}

#questaPesquisa {
    font-size: 24pt;
    font-weight: 300;
    margin-left: 40%;
}
#modal {
    border: 2%;
    padding: 2%;
    min-height: 70vh;
    margin-top: 5%;
    text-align: center;
}
#modal h3{
    font-weight: 400;
    
}
#modal label {
    display: block;
    margin-top: 5%;
}
#resposta1 {
    width: 40%;
}
#resposta2 {
    width: 40%;
}
#resposta3 {
    width: 40%;
}
#btnProximo {
    margin-top: 0%;
    margin-left: 45%;
}