#main-content h3 {
    display: inline;
    font-size: 12pt;
    margin-left: 17%;
}
#main-content {
    text-align: center;
    
}
#obsNotas {
 
    text-align: justify;
}
#modal-PesquisaNaoRespondivel {
    display: none;
    margin-top: 10%;
    padding: 10%;
    text-align: center;
}
#modal-PesquisaNaoRespondivel h2 {
    color:#21715e;
    text-align: center;
    font-size: 22pt;
    font-weight: 300;
}
#nota-resposta {
    color:#21715e;
    font-size: 16pt;
   text-decoration: underline #21715e;
}
#questaoPesquisa {
    display: block;
    font-size: 22pt;
    font-weight: 300;
}
#modal-nota {
    margin-top: 5%;
    display: none;
    text-align: justify;
    margin-bottom: 10%;
}
#buttonsNota {
    margin-top: 4%;
    text-align: center;
}
#campoJustificativa {
    display: none;
    padding: 4%;
    text-align: center;
    margin:auto;
    width: 60%;
}
#justificativaText {
    width: 100%;
}
.lblNotas {
    min-width: 80%;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
#modal {
    display: block;
    border: 2%;
    padding: 2%;

    margin-top: 5%;
    text-align: center;
}
#modal h3{
    font-weight: 400;
    
}
.invalido {
    color:rgb(165, 57, 57);
}
#modal-PesquisaConcluida {
    display: none;
    margin-top: 15%;
    padding: 10%;
}
#modal-PesquisaNaoRespondivel {
    display: none;
}
#btnCloseRespostaDados {
    display: block;
    margin-left: 50%;
}
#modal-PesquisaConcluida h2 {
    color:#21715e;
    text-align: center;
    font-size: 22pt;
    font-weight: 300;
}
#notas-vazias {
    display: none;
    color:rgb(165, 57, 57);
}

#modal-justificativa {
    display: none;
}
#btnProximoNota {
    display: inline-block;
}
#btnProximoJustificativa {
    margin-left: 2%;
}
#btnVoltarNota {
margin-right: 1%;
}
.materialize-textarea {
    min-height: 30vh;
    max-height: 30vh;
}
#modal label {
    display: block;
    margin-top: 5%;
}
#resposta1 {
    width: 40%;
}
#resposta2 {
    width: 40%;
}
#resposta3 {
    width: 40%;
}
#justificativa1 {
    width: 40%;
}
#justificativa2 {
    width: 40%;
}
#justificativa3 {
    width: 40%;
}
#btnProximo {
    display: inline-block;
    margin-bottom: 2%;
}